<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin Dashboard{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-gray-100 text-gray-900">

    <div class="min-h-screen flex flex-col">
    <header class="bg-white shadow-md p-4 flex justify-between items-center">
    <div class="text-lg font-bold text-blue-600">Admin Panel</div>
      
    </header>
    <div class="flex flex-1">
        <aside class="w-64 bg-white shadow-md">
            <nav class="mt-5">
                <a href="{{path('app_admin')}}" class="block py-2 px-1 hover:bg-blue-100">Dashboard</a> 
                <a href="{{path('app_product')}}" class="block py-2 px-1 hover:bg-blue-100">Manage Product</a> 
                <a href="" class="block py-2 px-1 hover:bg-blue-100">Manage Categories</a> 
                <a href="" class="block py-2 px-1 hover:bg-blue-100">Manage Orders</a> 
                <a href="" class="block py-2 px-1 hover:bg-blue-100">Manage users</a> 
            </nav>
        </aside>
            <main class="flex-1 p-6">
                 {% block body %}{% endblock %}
            </main>
    </div>
     

    </div>
    
    </body>
</html>
